<table border=2>
  <tr *ngFor="let car of (service.cars$ | async)">
    <td>{{car.id}}</td>
    <td>{{car.model}}</td>
    <td>{{car.price}}</td>
    <td>{{car.colour}}</td>
    <button
      *ngFor="let shop of (service.shops$ | async)"
      [disabled]="!(service.validateShop$(shop, car) | async)"
      mat-raised-button
      color="primary"
      (click)="service.addCarToShopFromStash(car, shop)">
      {{shop.address}}
    </button>
  </tr>
</table>
<br>
<table border=2>
  <tr *ngFor="let shop of (service.shops$ | async)">
    <td>{{shop.address}}</td>
    <td *ngFor="let car of shop.cars;">
      <button
        mat-raised-button
        color="primary"
        (click)="service.moveCarFromShopToStash(car, shop)">
        {{car.model}}
      </button>
      <button
        *ngFor="let allowedShop of (service.getAllowedShops(shop) | async);"
        [disabled]="!(service.validateShop$(allowedShop, car) | async)"
        mat-raised-button
        color="primary"
        (click)="service.moveCarFromShopToShop(shop, allowedShop, car)">
        Move to {{allowedShop.address}}
      </button>
    </td>
  </tr>
</table>


<table border=2>
  <tr *ngFor="let history of (service.history$ | async)">
    <td>
      {{history.from}}
    </td>
    <td>
      {{history.to}}
    </td>
    <td>
      {{history.date}}
    </td>
  </tr>
</table>
